@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@1,700&display=swap');
:root {
  --primary-color: #6D28D9;
  --text-color: black;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'STIX Two Text', serif;
    text-align: center;
    background-color:white;
  }
  
  .ow {
    background-color: black;
    color: var(--primary-color);
    border-radius: 2rem;
  }
  .color-inverted {
    color: black;
  }
  
  .alt-color {
    color: var(--primary-color);
  }
  
  img {
    width: 350px;
  }
  
  /* INPUT */
  
  input {
    padding: 0.5rem;
  }
  
  /* CONTAINER */
  
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .container-left {
    text-align: left;
    margin: auto;
  }
  
  .container-right {
    text-align: right;
    margin: auto;
  }
  .container-center {
    max-width: 600px;
    margin: auto;
  }
  
  .navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
    margin: auto;
  }
  
  .navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: var(--text-color);
  }
  .header {
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--primary-color);
  }
  
  .purchase-price {
    padding: 1rem;
    font-size: large;
    font-weight: bold;
  }
  
  .units {
    padding: 1rem;
    font-size: large;
    font-weight: bold;
  }
  
  .current-price {
    padding: 1rem;
    font-size: large;
    font-weight: bold;
  }
  
  .check {
    padding: 1rem;
  }
  
  /*BUTTON*/
  button {
    background-color: var(--primary-color);
    font-size: large;
    width: 200px;
    color: black;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
  }
  
  /* .final-result {
    padding: 1rem;
    height: 2rem;
    font-size: x-large;
    background-color: var(--primary-color);
    border-radius: 1rem;
  } */
  
#error-message{
    background-color: red;
    font-size: larger;
    border-radius: 1rem;
    width:50%;
    text-align: center;
    margin:auto;
}



.final-result{
    display: none;
    flex-direction: column;
    padding:0.5rem;
}


.heading {
    text-align: center;
}

.heading-description {
    text-align: center;
}

img {
    padding: 1.5rem 0rem;
    width: 40%;
    margin: auto;;
}


label {
    font-size: 1.2rem;
    font-weight: 700;
    margin: auto;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.5rem;
    background-color:#C4B5FD;
  }

